footer(class="blog-footer")
  div(class="container")
    hr
    div(class="row")
        div(class="col-sm-6")
          p
            a(href="/" title="Back to home") home
            |
            | |
            |
            a(href="#" title="Back to top") top
        div(class="col-sm-6")
          p(class="float-right")
            a(href="https://github.com/remarkableplace") source code
            |
            | built by
            |
            a(href="https://twitter.com/slashdotpeter") @slashdotpeter
