header
  div(class="blog-header")
    div(class="container")
      h1(class="blog-title") remarkable.place
      p(class="lead text-muted blog-description")
        | Blog built with bandwagon technologies like
        |
        em AWS Lambda,
        |
        |
        em GraphQL,
        |
        |
        em DynamoDB,
        |
        | and
        |
        em Node.js
      hr
