html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/header.pug

    main(role="main" class="container")
      div(class="row")
        div(class="col-sm-8 blog-main")
          each page in pages
            div(class="blog-post")
              h2(class="blog-post-title")= page.title
              div !{page.content}
              a(href="/pages/" + page.id title="Read " + page.title) read
            br

    include ../includes/footer.pug
