html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/header.pug

    main(role="main" class="container")
      div(class="row")
        div(class="col-sm-8 offset-2 blog-main")
          h1(class="blog-post-title")= page.title
          p(class="text-muted")
            small by #{page.author.fullName}
            span(class="float-right")
              small #{page.createdAt}
          div !{page.content}

    include ../includes/footer.pug
